/.vscode
/build/**
/dist/**
/nbproject/**
/api-bpjsfktl/nbproject/**
/api-bpjsfktp/nbproject/**
/api-bridgingradiologi/nbproject/**
/api-khanza/nbproject/**
/bankjateng/nbproject/**
/bankpapua/nbproject/**
/webapps/nbproject/**
/bjb/nbproject/**
!lisensi.txt
!readme.txt
!*.sql
!.gitignore
!/nbproject/build-impl.xml
!/nbproject/build-native.xml
!/nbproject/project.xml
!/nbproject/config.conf
!/nbproject/project.properties
/KhanzaHMSServiceSIRSYankes/build/
/KhanzaHMSServiceSatuSehat/build/
/KhanzaHMSServiceSatuSehat/dist/
/KhanzaHMSResume/build/
/KhanzaHMSAutoVerify2/build/
/KhanzaHMSAutoVerify2/dist/
/KhanzaHMSAutoVerify/build/
/KhanzaHMSAnjungan/build/
/KhanzaCetakAntrianLoket/build/
/KhanzaAntrianPoli/build/
/KhanzaAntrianApotek/build/
