/.vscode
/build
/dist
/lib
/setting/database*.xml
/setting/database*.ini
**/*.DS_Store
**/.DS_Store
**/*.html_files
**/*.*~
**/*.~*
**/*.exe
**/*.jar
*.html
*.pdf
*.css
*.js
*.csv
*.wps
*.log
*.sql
!sik*.sql