/.vscode
/build/**
/dist/**
/nbproject/**
/api-bpjsfktl/nbproject/**
/api-bpjsfktp/nbproject/**
/api-bridgingradiologi/nbproject/**
/api-khanza/nbproject/**
/bankjateng/nbproject/**
/bankpapua/nbproject/**
/webapps/nbproject/**
bjb
*.*
!lisensi.txt
!readme.txt
!*.sql
!.gitignore
!/nbproject/project.xml
!/nbproject/config.conf
!/nbproject/project.properties